body{background-image: url("./blue-toned-set-triangular-paper-sheets-with-copy-space.jpg");
    background-repeat: no-repeat;
background-size: cover;}

        header{font-size: 2em;
            color: white;
            padding: 5px;
            margin: 5px;
            /* text-decoration: ; */
}
/* .time{background-color: blue;} */
form{ padding: 5px;
margin: 5px;}

.house {
    display: inline;
    background-color: white;
    padding: 15px;
/* width: 20px; */
/* height: 300px; */
display: inline;}
.ttop{
    display: flex;
    text-align: start;
}
.ttop input{
    display: flex;
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
}



